<%- include('./partials/header'); -%>
<title>Trang chủ</title>
<div class="container text-center">
    <div class="row">
        <p class="fs-1">Bầu Cua Vui Xuân 2022</p>
    </div>
    <div class="row" style="height: 500px;">
        <img class="my-4" src="../img/anh_home.jpg" alt="" height="500px">
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
            <a href="/login" class="me-3">
                <button type="button" class="btn btn-primary">Đăng nhập</button>
            </a>
            <a href="/register">
                <button type="button" class="btn btn-primary">Đăng kí</button>
            </a>
        </div>
    </div>
</div>
<%- include('./partials/footer'); -%>
