<%- include('./partials/header'); -%>
    <title>Trang chủ</title>
    <div class="container-fluid text-center" style="  width: 100vw;
    height: 100vh;
    position: relative;padding:0">
        <div class="row">
            <img src="./img/homePage.png" alt="" style=" width: 100%;
            height: 100%;
            object-fit: fill;">
            <div class="d-flex justify-content-center" style="position:absolute">
                <a href="/login" class="me-3">
                    <button type="button" class="btn btn-primary">Đăng nhập</button>
                </a>
                <a href="/register">
                    <button type="button" class="btn btn-primary">Đăng kí</button>
                </a>
            </div>
        </div>
    </div>
    <%- include('./partials/footer'); -%>