<%- include('./partials/header'); -%>
  <title>Phòng Chơi</title>
  <div style="background-color:
#7d0301;height:100vh">
    <div class="container d-flex flex-column justify-content-between" id="roomGame" style="height: 95vh;">
      <% if(typeof userInfo !==undefined){%>
        <header class="row d-flex flex-column" style="flex-wrap: no-wrap">
          <!-- <button id="zoomIn">Phóng to</button>
      <button id="zoomOut">Thu nhỏ</button> -->
          <a href="/mainScreen" class="fs-3" style="width:fit-content;margin-right:auto">
            <img src="./img/left-arrow.png" alt="" style="    width: 35px;
        height: 35px;
        object-fit: contain;
        object-position: center;">
          </a>

          <main style="height: 10vh;width: fit-content;">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-success" id="btn_show_user" data-bs-toggle="modal" data-bs-target="#exampleModal" style="    height: 50px;
        width: 50px;
        margin-top: 10px;
        /* width: fit-content; */
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #56c923;">
              <img src="./img/list.png" alt="" style="    width: 35px;
          height: 35px;
          object-fit: contain;
          object-position: center;">
            </button>

            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Đang trực tuyến</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" id="userinroom">

                  </div>
                </div>
              </div>
            </div>

          </main>

        </header>


        <div class="container-fluid d-flex justify-content-between" id="userinTable" style="    max-height: 45vh;padding: 0;
            height: 63vh">

          <!-- Hiển thị user bên trái -->
          <div id="left_user_show" style="display: flex;
          flex-direction: column;">

          </div>

          <!-- Hiển thị bàn cờ -->
          <div id="show_ban_co" style="display: flex;align-items: center;">
            <div class="container">
              <div class="row row-cols-3" style="    margin-top: 106px;
              margin-left: -53px;">
                <div class="col">
                  <img src="./img/nai.png" alt="">
                </div>
                <div class="col">
                  <img src="./img/bau.png" alt="">
                </div>
                <div class="col">
                  <img src="./img/ga.png" alt="">
                </div>
                <div class="col">
                  <img src="./img/ca.png" alt="">
                </div>
                <div class="col">
                  <img src="./img/cua.png" alt="">
                </div>
                <div class="col">
                  <img src="./img/tom.png" alt="">
                </div>
              </div>
            </div>
          </div>

          <!-- Hiển thị user bên phải -->
          <div id="right_user_show" style="display: flex;
          flex-direction: column;align-items: flex-end;">
            <div>
              <p>Phan Quí</p>
              <div id="img_user_right">
                <img src="./img/customer.png" alt="">
              </div>
              <div id="info_game_user_right">
                <span>6</span>
                <img src="img/—Pngtree—coin_486815.png" alt="">
              </div>
            </div>

            <div style="color: white;display: inline-block;">
              <p style="
                  margin: 0;
                  white-space: nowrap;
                  width: 40px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  /* border: 1px solid #000000; */
              ">Phan Quí</p>
              <div style="border:2px solid #7bd6e5; display: inline-block;border-radius: 5px;">
                <img src="./img/customer.png" alt="" width="30px" height="30px" style="border:1px solid #7bd6e5;background-color: white;">
              </div>
              <div style="
                      display: flex;
                      border-radius: 5px 5px 5px 5px;
                      background-color: #473639;
                      width: fit-content;
                      padding: -2px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 13px;
                      width: fit-content;
                      opacity: 0.8;
                  ">
                <span>6</span>
                <img style="
                  width: 15px;
                  height: 15px;
              " src="img/—Pngtree—coin_486815.png" alt="">
              </div>
            </div>

            <div style="color: white;display: inline-block;">
              <p style="
                  margin: 0;
                  white-space: nowrap;
                  width: 40px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  /* border: 1px solid #000000; */
              ">Phan Quí</p>
              <div style="border:2px solid #7bd6e5; display: inline-block;border-radius: 5px;">
                <img src="./img/customer.png" alt="" width="30px" height="30px" style="border:1px solid #7bd6e5;background-color: white;">
              </div>
              <div style="
                      display: flex;
                      border-radius: 5px 5px 5px 5px;
                      background-color: #473639;
                      width: fit-content;
                      padding: -2px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 13px;
                      width: fit-content;
                      opacity: 0.8;
                  ">
                <span>6</span>
                <img style="
                  width: 15px;
                  height: 15px;
              " src="img/—Pngtree—coin_486815.png" alt="">
              </div>
            </div>

            <div style="color: white;display: inline-block;">
              <p style="
                  margin: 0;
                  white-space: nowrap;
                  width: 40px;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  /* border: 1px solid #000000; */
              ">Phan Quí</p>
              <div style="border:2px solid #7bd6e5; display: inline-block;border-radius: 5px;">
                <img src="./img/customer.png" alt="" width="30px" height="30px" style="border:1px solid #7bd6e5;background-color: white;">
              </div>
              <div style="
                      display: flex;
                      border-radius: 5px 5px 5px 5px;
                      background-color: #473639;
                      width: fit-content;
                      padding: -2px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 13px;
                      width: fit-content;
                      opacity: 0.8;
                  ">
                <span>6</span>
                <img style="
                  width: 15px;
                  height: 15px;
              " src="img/—Pngtree—coin_486815.png" alt="">
              </div>
            </div>
          </div>
        </div>

        <footer class="row container-fluid" style="    width: 300px;
    margin: 0 auto;">
          <div class="card" style="border-radius: 10px;
        border: 1px solid #ccc;background-color: #252a4f ;padding: 3px 0px 0px 0px;">
            <div class="card-body d-flex" style="
            flex-direction: column;padding-bottom: 0;
              ">
              <div class="row">
                <div class="col">
                  <img class="col" style="width: 70px;
                  height: 70px;
                  border-radius: 10px;
                  object-fit: cover;
                  border: 3px solid #3396c5" src="/uploads/<%= userInfo.anhdaidien%>" alt="" width="50px" height="50px" id="anhdaidien">

                </div>

                <div class="col">
                  <div class="row">
                    <p id="nickname_user" style="color:#66b4bf;font-weight: bold;margin-bottom: 5px;">
                      <%= userInfo.nickname%>
                    </p>
                  </div>
                  <div class="row">
                    <p style="
                    width: fit-content;
                    border: 1px solid #ccc;
                    border-radius: 10px;
                    margin-left: 10px;
                    background-color: #313851;
                    padding: 5px 0 5px 10px;
                ">
                      <span id="tongxu" style="
                        color: #dbd956;
                        font-weight: bold;
                        font-size: 23px;
                    ">
                        <%= userInfo.tongxu %>
                      </span>
                      <img style="
                  width: 30px;
                  height: 30px;
              " src="img/—Pngtree—coin_486815.png" alt="">
                  </div>
                </div>
              </div>

              <div class="row d-flex" style="flex-wrap: nowrap;background-color: #334464 ;padding: 7px;">
                <div class="col" style="padding-left: 0;">
                  <button type="button" style="width:57px;color:black;background-color: yellow;" class="btn btn-danger"><span style="
                    display: flex;
                    font-size: 22px;
                    font-weight: bold;
                ">1
                      <img style="
                    width: 30px;
                    height: 30px;
                " src="img/—Pngtree—coin_486815.png" alt="">
                    </span> </button>
                </div>
                <div class="col">
                  <button type="button" style="width:57px;color:black;background-color: yellow;" class="btn btn-danger"><span style="
                    display: flex;
                    font-size: 22px;
                    font-weight: bold;
                ">3
                      <img style="
                    width: 30px;
                    height: 30px;
                " src="img/—Pngtree—coin_486815.png" alt="">
                    </span> </button>
                </div>
                <div class="col" style="padding-right: 0;">
                  <button type="button" style="width:57px;color:black;background-color: yellow;" class="btn btn-danger"><span style="
                    display: flex;
                    font-size: 22px;
                    font-weight: bold;
                ">5
                      <img style="
                    width: 30px;
                    height: 30px;
                " src="img/—Pngtree—coin_486815.png" alt="">
                    </span> </button>
                </div>

              </div>

            </div>
          </div>
        </footer>
        <% } %>
    </div>
  </div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.2/jquery.js" integrity="sha512-NMtENEqUQ8zHZWjwLg6/1FmcTWwRS2T5f487CCbQB3pQwouZfbrQfylryimT3XvQnpE7ctEKoZgQOAkWkCW/vg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js" integrity="sha512-uE2UhqPZkcKyOjeXjPCmYsW9Sudy5Vbv0XwAVnKBamQeasAVAmH6HR9j5Qpy6Itk1cxk+ypFRPeAZwNnEwNuzQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script>
    // //Xử lí FullScreen
    // let zoomIn = document.querySelector('#zoomIn')
    // let zoomOut = document.querySelector('#zoomOut')
    // let el = document.documentElement;

    // zoomIn.addEventListener('click',()=>{
    //   if(el.requestFullscreen){
    //     el.requestFullscreen()
    //   }
    // })

    // zoomOut.addEventListener('click',()=>{
    //   if(document.exitFullscreen){
    //     document.exitFullscreen()
    //   }
    // })


    var socket = io();
    let userinroom = document.querySelector('#userinroom')
    let btnshowuser = document.querySelector('#btn_show_user')

    btnshowuser.addEventListener('click', () => {
      socket.emit('showuserinRoom');
    })

    socket.on('showuserinRoomClient', async (data) => {
      userinroom.innerHTML = '';

      let ol = await document.createElement('ol');
      data.forEach(function (item, index) {
        let li = document.createElement('li')

        li.innerHTML = '<p style="font-size:20px;font-weight:bold">' + data[index].nickname + ' - Số xu: ' + data[index].tongxu + '</p>'

        ol.appendChild(li)

        userinroom.appendChild(ol)
      }
      )

    })

    //Khi có người mới tham gia vào phòng chơi sẽ render giao diện người chơi tham gia vào bàn chơi bầu cua
    socket.on('createElementUser', (dataUser) => {
      let userinTable = document.querySelector('#userinTable');
      let userInLeft = document.querySelector('#left_user_show');
      let userInRight = document.querySelector('#right_user_show');
      let nicknameUser = document.querySelector('#nickname_user')

      userInLeft.innerHTML = ''
      userInRight.innerHTML = ''

      for (let i = 0; i < dataUser.length; i++) {
        if (nicknameUser.innerText !== dataUser[i].nickname) {
          let div = document.createElement('div')
          if (i > 3) {
            console.log('ben phai' + i)
            div.innerHTML = `
              <p>${dataUser[i].nickname}</p>
              <div id="img_user_right">
                <img src="./${dataUser[i].anhdaidien}" alt="">
              </div>
              <div id="info_game_user_right">
                <span>${dataUser[i].tongxu}</span>
                <img src="img/—Pngtree—coin_486815.png" alt="">
              </div>
            </div>
          `
            userInRight.append(div)
          } else if (i < 4) {
            console.log('ben trai' + i)
            div.innerHTML = `
              <p>${dataUser[i].nickname}</p>
              <div id="img_user">
                <img src="./${dataUser[i].anhdaidien}" alt="">
              </div>
              <div id="info_game_user">
                <span>${dataUser[i].tongxu}</span>
                <img src="img/—Pngtree—coin_486815.png" alt="">
              </div>
          `
            userInLeft.append(div)
          }
        }
      }
    })


    socket.on("connect", () => {
      //Khi có người chơi mới kết nối vào phòng sẽ gửi qua cho server biết
      const nickname = document.querySelector('#nickname_user')
      const tongxu = document.querySelector('#tongxu')
      const anhdaidien = document.querySelector('#anhdaidien')
      const socketID = socket.id;

      let roomUser = {
        nickname: nickname.innerText,
        tongxu: tongxu.innerText,
        anhdaidien: anhdaidien.getAttribute('src'),
        socketID: socketID
      }

      socket.emit('NewUserJoinRoom', roomUser)

    });



    socket.on('user disconnected', (data) => {
      $.notify(`Người chơi "${data.nickname}" đã rời phòng !`, "warn", { clickToHide: true }).addStyle('font-weight', 'bold')('opacity', '0.6');
    })

    socket.on('notification_joinRoom', (data) => {
      $.notify(`Người chơi "${data}" vừa tham gia phòng !`, "success").addStyle('font-weight', 'bold');
    })

    socket.on('waitingUserInRoom', (data) => {
      alert('Phòng đã đầy !')
      window.location.href = 'mainScreen'
    })

  </script>
  </body>

  </html>