<%- include('./partials/header'); -%>
    <title>Đăng nhập</title>
        <div class="container mt-5">
            <h1 class="text-center">ĐĂNG NHẬP</h1>
            <% if(typeof err_login != 'undefined') {%>
                <div class="alert alert-danger" role="alert">
                    <%= err_login %> 
                </div>
            <% } %> 
            <form action="/login" method="post" class="container">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Tên đăng nhập</label>
                    <input type="username" class="form-control" id="username" aria-describedby="emailHelp" name="username" required>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Ghi nhớ đăng nhập</label>
                </div>
                <button type="submit" class="btn btn-primary d-flex justify-content-center">Xác nhận</button>
            </form>
            <a href="/" class="text-decoration-none">
                <button class="btn btn-danger d-flex justify-content-center mt-3">Trở về trang chủ</button>
            </a>
            <p>Nếu chưa có tài khoản hãy ấn vào <a href="/register">đây</a> để đăng kí</p>
        </div>
    

<%- include('./partials/footer'); -%>